.full-row{
	width: 100%;
}

.full-right{
	display: flex ! important;
	justify-content: end ! important;
}

.shadow-blue{
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 2px 4px -1px rgba(0, 0, 0, 0.2) ! important;
}

.shadow-orange{
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.12), 4px 4px 5px rgba(0, 0, 0, 0.14), 2px 2px 4px -1px rgba(0, 0, 0, 0.2) ! important;
    
}

button:hover, input:hover{
		
	transform: scale(1.07);
	
}